body{
    background-color: #C9DCBB;
 
}
header{
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0,0.7);
    height: 100%;
    line-height: 40px;
    width: 160px;
    display: block;
    position: fixed;
    overflow: hidden;  
    float: left;
    
}
ul{
    margin-top: 40px;
}
nav li{
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 50px;
}
nav a{
    color: white;
    text-decoration: none;
   font-size: 14px;
   
}
a{
    text-decoration: none;
}
a:hover{
    color: orange;
}

h1{
    font-family: 'Aladin', cursive;
    /* letter-spacing: 0.1em; */
    font-size: 40px;
}
/* home page */
main img{
    border-radius: 40%;
    height: 400px;
    margin-top: 50px;
}
.container{
    
    float: right;
}
#profile{
    text-align: center;
    margin-top: 50px;
}
h3{
    font-family: 'Aladin', cursive;
    margin-bottom: 20px;
}
h2{
    font-weight: 900;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
/* Project page */
#proj, #about{
    padding-left: 100px;
    margin-top: 20px;    
}
/* about page */
